<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>后台管理 - 易买网</title>
<link type="text/css" rel="stylesheet" href="../css/style.css" />
<script type="text/javascript" src="../scripts/function-manage.js"></script>
</head>
<body>
<div id="header" class="wrap">
	<div id="logo"><img src="../images/logo.gif" /></div>
	<div class="help"><a href="/index">返回前台页面</a></div>
	<div class="navbar">
		<ul class="clearfix">
			<li><a href="../index.html">首页</a></li>
			<li><a href="/manger/list">用户</a></li>
			<li class="current"><a href="/product/list">商品</a></li>
			<li><a href="/order/list">订单</a></li>
			<li><a href="/note/list">留言</a></li>
			<li><a href="/news/list">新闻</a></li>
		</ul>
	</div>
</div>
<div id="childNav">
	<div class="welcome wrap">
		管理员pillys您好，今天是2012-12-21，欢迎回到管理后台。
	</div>
</div>
<div id="position" class="wrap">
	您现在的位置：<a href="../index.html">易买网</a> &gt; 管理后台
</div>
<div id="main" class="wrap">
	<div id="menu-mng" class="lefter">
		<div class="box">
			<dl>
				<dt>用户管理</dt>
				<dd><em><a href="/manger/add">新增</a></em><a href="/manger/list">用户管理</a></dd>
				<dt>商品信息</dt>
				<dd><em><a href="/category/add">新增</a></em><a href="/category/list">分类管理</a></dd>
				<dd><em><a href="/product/add">新增</a></em><a href="/product/list">商品管理</a></dd>
				<dt>订单管理</dt>
				<dd><a href="/order/list">订单管理</a></dd>
				<dt>留言管理</dt>
				<dd><a href="/note/list">留言管理</a></dd>
				<dt>新闻管理</dt>
				<dd><em><a href="/news/add">新增</a></em><a href="/news/list">新闻管理</a></dd>
			</dl>
		</div>
	</div>
	<div class="main">
		<h2>添加商品</h2>
		<div class="manage">
			<form action="/product/add" method="post" enctype="multipart/form-data">
				<input type="hidden" name="pid" value="<%= product.pid %>" />
				<table class="form">
					<tr>
						<td class="field">商品名称：</td>
						<td><input type="text" class="text" name="pname" value="<%= product.pname %>"  /></td>
					</tr>
					<tr>
						<td class="field">所属分类：</td>
						<td>
							<select name="parentId">
								<option value="1">数码产品</option>
								<option value="3">├ 手机</option>
								<option value="3">├电脑</option>
								<option value="3">├单反</option>
								<option value="2">家具</option>
								<option value="3">├ 梳妆台</option>
								<option value="3">├电脑桌</option>
								<option value="3">├收纳盒</option>
								<option value="3">图书音像</option>
								<option value="3">├ 图书</option>
								<option value="3">└ 音乐</option>
								<option value="4">百货</option>
								<option value="3">├ 食品</option>
								<option value="3">├ 服饰</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="field">商品图片：</td>
						<td><input type="file" class="text" name="photo"  value="<%= product.photo %>"/></td>
					</tr>

					<tr>
						<td class="field">商品价格：</td>
						<td><input type="text" class="text tiny" name="price"  /> <%= product.price %>元</td>
					</tr>
					<tr>
						<td class="field">品牌：</td>
						<td><input type="text" class="text" name="brand"  /><%= product.brand %></td>
					</tr>
					<tr>
						<td class="field">库存：</td>
						<td><input type="text" class="text tiny" name="quantity"  /><%= product.quantity %></td>
					</tr>
					<tr>
						<td class="field">条码号：</td>
						<td><input type="text" class="text" name="code"  /><%= product.code %></td>
					</tr>
					<tr>
						<td></td>
						<td><label class="ui-blue"><input type="submit"  value="添加" /></label></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div id="footer">
	Copyright &copy; 2019 传习教育 All Rights Reserved. 京ICP证1000001号
</div>
</body>
</html>
